body {
    background-color: #023373;
    font-family: 'Fira Sans', sans-serif;
}

#container {
    background-color: #BF0F3E;
    width: 900px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}
header {
    padding-top: 20px;
    background-color: whitesmoke;
    border-radius: 20px 20px 0 0;

}
header img {
    display: block;
    width: 500px;;        
    margin-left:auto;
    margin-right:auto;
    background-position:center;
    background-repeat:no-repeat;
}
header h1 {
    font-size: 2.5em;
    text-align: center;
    color: #F26D6D;
    font-family: 'Lato', sans-serif;;
    text-shadow: 2px 2px 2px black;
}

}
nav {
    background-color: #F26D6D;
    padding-top: 10px;
    text-align: center;
}
nav a {
    display: inline-block;
    text-align: center;
    background-color: #023E73;
    height: 50px;
    width: 175px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 50px;
    color: #4C5973;
    text-decoration: none;
    border-radius: 20px 20px 0 0;
    margin: 0 20px;
}
nav a:hover {
    background-color: whitesmoke;
    color: #023E73;
}

main {
    background-color: whitesmoke;
    padding: 20px;
    margin: 0 20px 20px 20px;

}
main h2 {
    text-align: center;
    color: #4C5973;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
}
main h3 {
    text-align: center;
    font-size: 1.5em;
}
main img {
    display:block; 
    width: 300px;
    margin: 50px auto;
    background-color: #4C5973;
    padding: 20px;
    border-radius: 20px;

}

  
  caption {
    padding: 10px;

footer {
    background-color: #023E73;
    padding: 40px 0;
    color: #F26D6D;
    font-size: 1.5em;
    text-align: center; 
    border-radius: 0 0 20px 20px; 
}

.active {
    background-color: #4C5973;
    color: #023E73;

}

.pro_head {
    text-align: center;
    color: #F26D6D;
    font-size: 1.5em;
    font-family: 'Fira Sans', sans-serif;
}